body{
	background-color: #a6d6d6;
}

#container{
	background-color: #a58faa;
	border: 5px solid white;
	height: 275px;
	width: 750px;
	margin: 0 auto;
	text-align: center;
}

#btn{
	margin: 50px auto;
	height: 50px;
	width: 300px;
	font-size: 20px;
	background-color: white;
}

#output{
	margin: 25px auto;
	font-size: 25px;
	color: white;
}

